$theme-purple-1: #ab67dd;
$theme-purple-2: #8152b5;
$theme-gray-1: #cbd4d7;
$theme-gray-2: #6a5d77;
$theme-gray-3: #3f2f4c;
$theme-black: #1e1d20;

@mixin transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
